<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ballmerlabs.scatterroutingservice">

    <uses-permission android:name="net.ballmerlabs.scatterroutingservice.permission.SUPERUSER" />
    <uses-permission android:name="net.ballmerlabs.scatterroutingservice.permission.ACCESS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <queries>
        <intent>
            <action android:name="net.ballmerlabs.scatterroutingservice.broadcast.NETWORK_EVENT"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="net.ballmerlabs.scatterroutingservice.ScatterbrainApp"
        android:theme="@style/Theme.RoutingServiceFrontend">
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data  android:name="net.ballmerlabs.scatterroutingservice.FirebaseInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="net.ballmerlabs.scatterroutingservice.DrawerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>